<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Komis Samochodowy</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="app.js" defer></script>
  <script src="component.js" defer></script>
</head>

<body>
  <header>
    <h1>Witamy w komisie samochodowym</h1>
    <div class="topnav">
      <a href="#home">Oferta</a>
      <a href="#news">PlaceHolder</a>
      <a href="#contact">Kontakt</a>
      <a href="#about">O nas</a>
    </div>
  </header>

  <div id="app">
    <button v-on:click="fetch()">Wyświetl dostępne samochody1</button>
    <button v-on:click="fetch(), toggle=!toggle">Wyświetl dostępne samochody</button>
    <div v-show='toggle'>
      <h2>Dostępne Marki</h2>
      <div v-if="loading_page">
        Loading page...
      </div>
      <div v-else>
        <table style="width: 80%;">
          <tr>
            <th>Make</th>
            <th>Model</th>
          </tr>
          <tr v-for="item in currency">
            <td>{{ item.Make }}</td>
            <td>{{ item.Model }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  </div>
</body>

</html>