<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Komis Samochodowy</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="app.js" defer></script>
  <script src="component.js" defer></script>
</head>

<body>

  <header>
    <h1>Witamy w komisie samochodowym</h1>
    <div class="topnav">
      <a href="#home">Oferta</a>
      <a href="#news">PlaceHolder</a>
      <a href="#contact">Kontakt</a>
      <a href="#about">O nas</a>
    </div>
  </header>
  <div id="app">
    <section v-if="error_occured">
      ERROR: Something went wrong!
    </section>
    <section v-else>
      <div v-if="loading_page">
        Loading page...
      </div>
      <div v-else>
        <h2>Dostepne Marki</h2>
        <button v-on:click="toggle=!toggle">Wyswietl dostepne samochody</button>
        <button v-on:click="make_list(), search.toggle=!search.toggle">Wyszukaj samochod</button>
      </div>
    </section>
    <!-- <h2>Dostępne Marki</h2>
    <button v-on:click="toggle=!toggle">Wyświetl dostępne samochody</button>
    <button v-on:click="make_list(), search.toggle=!search.toggle">Wyszukaj samochód</button> -->
    <div v-show='toggle'>
      <table style="width: 80%;">
        <tr>
          <th>Make</th>
          <th>Model</th>
        </tr>
        <tr v-for="item in currency">
          <td>{{ item.Make }}</td>
          <td>{{ item.Model }}</td>
        </tr>
      </table>
    </div>
    <div v-show='search.toggle'>
      <h2>Wyszukaj swoj nowy samochod</h2>
      <div class="form">
        <p>Marka samochodu:<br>
          <select v-model="search.Make">
            <option disabled value="">Wybierz:</option>
            <option v-for="item in brand_list">{{ item }}</option>
          </select>
        </p>
        <p>Stan:<br>
          <input type="checkbox" id="s1" value="New" v-model="search.Status">
          <label for="s1">Nowy</label><br>
          <input type="checkbox" id="s2" value="Used" v-model="search.Status">
          <label for="s2">Uzywany</label><br>
        </p>
        <p>Rodzaj paliwa:<br>
          <input type="checkbox" id="f1" value="Gasoline" v-model="search.FuelType">
          <label for="f1">Benzyna</label><br>
          <input type="checkbox" id="f2" value="Hybrid" v-model="search.FuelType">
          <label for="f2">Hybryda</label><br>
          <input type="checkbox" id="f3" value="Diesel" v-model="search.FuelType">
          <label for="f3">Diesel</label><br>
          <input type="checkbox" id="f4" value="Electric" v-model="search.FuelType">
          <label for="f4">Elektryczny</label><br>
          <input type="checkbox" id="f5" value="Gasoline + LPG" v-model="search.FuelType">
          <label for="f5">Benzyna + LPG</label><br>
        </p>
        <p>Naped:<br>
          <input type="checkbox" id="d1" value="Front" v-model="search.Drive">
          <label for="d1">Na przod</label><br>
          <input type="checkbox" id="d2" value="Rear" v-model="search.Drive">
          <label for="d2">Na tyl</label><br>
          <input type="checkbox" id="d3" value="4x4" v-model="search.Drive">
          <label for="d3">Na 4 kola</label><br>
        </p>
        <p>Skrzynia biegow:<br>
          <input type="checkbox" id="g1" value="Automatic" v-model="search.Gearbox">
          <label for="g1">Automatyczna</label><br>
          <input type="checkbox" id="g2" value="Manual" v-model="search.Gearbox">
          <label for="g2">Manualna</label><br>
        </p>
        <button v-on:click="filter()">Szukaj</button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <td><b>Marka</b></td>
            <td><b>Model</b></td>
            <td><b>Rocznik</b></td>
            <td><b>VIN</b></td>
            <td><b>Rodzaj paliwa</b></td>
            <td><b>Pojemnosc</b></td>
            <td><b>Stan</b></td>
            <td><b>Rodzaj napedu</b></td>
            <td><b>Skrzynia biegow</b></td>
            <td><b>Cena</b></td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in filteredCurrency">
            <td> {{item.Make}} </td>
            <td> {{item.Model}} </td>
            <td> {{item.Year}} </td>
            <td> {{item.VIN}} </td>
            <td> {{item.FuelType}} </td>
            <td> {{item.Capacity}} </td>
            <td> {{item.Status}} </td>
            <td> {{item.Drive}} </td>
            <td> {{item.Gearbox}} </td>
            <td> {{item.Price}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>